<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="/dashboard.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> <!-- For charts -->
</head>
<body>
    <div class="navbar">
        <a class="insta" href="https://www.instagram.com/sunbeachresort/"><div class="navtitle">AP_ICE RESORT</div></a>
        <a class="logout" href="/logout">logout</a>
    </div>

    <div class="admintext">
        Admin Dashboard
    </div>
    <div class="graph">
        <!-- Total Rooms Booked Box -->
        <div class="box">
            <h2>Total Rooms Booked This Week</h2>
            <canvas id="roomsChart"></canvas>
            <p id="totalRoomsValue">Total: 80 rooms</p> <!-- Example value -->
        </div>

        <!-- Total Campaigns Triggered Box -->
        <div class="box">
            <h2>Total Campaigns Triggered</h2>
            <canvas id="campaignsChart"></canvas>
            <p id="totalCampaignsValue">Total: <%=no_of_campaigns%> campaigns</p> <!-- Example value -->
        </div>

        <!-- Local Events in Area Box -->
        <div class="box">
            <h2>Local Events in Area</h2>
            <canvas id="eventsChart"></canvas>
            <p id="totalEventsValue">Total: 5 events</p> <!-- Example value -->
        </div>
    </div>

    <div class="campaignhead">
        Campaign Status
    </div>
    <% if (locals.campaign == "") { %>
        <div class="campaign"><div>No Campaigns running currently</div></div>
    <% } else { %>
        <div class="campaign"><%= campaign %></div>
    <% } %>
    
    <Div class="trigger">
        <Div class="triggerhead">Click here to manually detect low occupancy and trigger campaign</Div>
        <div class="triggerbutton">check</div>
    </Div>

    <div class="loghead">
        Logs
    </div>

    <div class="logcontainer">
        <div class="log" style="white-space: pre-wrap;">
        </div>
        <div class="image-container">
            <img src="" alt="" id="genimage" />
        </div>
    </div>
    
    <div class="retrieve-info">
        <div class="retrieve-title">Display all bookings on date:</div>
        <input type="date" id="retrieve-date" name="bookingdate">
        <div></div>
    </div>

    <div class="booking-container">
        <div class="booking-content black">
            <div class="book-head">name</div>
            <div class="book-head">username</div>
            <div class="book-head">date</div>
            <div class="book-head">room name</div>
            <Div class="book-head">price</Div>
        </div>
        <% if(locals.no){ %>
            <% for (var i=0;i<locals.no;i++) { %>
                <div class="booking-content">
                    <div class="book-title"><%=userdetails[i].name%></div>
                    <div class="book-title"><%=data[i].username%></div>
                    <div class="book-title"><%=data[i].date%></div>
                    <div class="book-title"><%=data[i].roomname%></div>
                    <Div class="book-title"><%=data[i].price%></Div>
                </div>
            <% } %>
        <% } %>


    </div>

</body>
<script src="/dashboard.js"></script>
</html>
